.card-list_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.normal .card_wrap {
    width: 100%;
    border: 1px solid black;
}

.grid .card_wrap {
    width: 25%;
}

.list .card_wrap {
    width: 100%;
    flex-direction: unset;
}

.list .card_wrap img {
    width: 44px
}

.btn_wrap {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.btn_wrap button {
    font-size: 2vw;
    padding: 1rem;
}
