* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: white;
}

nav {
    width: 100%;
    background-color: black;
}

li {
    width: 100%;
    padding: 16px 16px;
    text-align: center;
    transition: 0.5s;
    border: 2px solid black;
}

li:hover {
    cursor: pointer;
    background-color: darkslategray;
}
