.card_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid grey;
}

.title {
    font-size: 2vw;
}

.description {
    font-size: 1.4vw;
}

img {
    width: 200px;
}